/* FONT INITIALIZATION */

@font-face{
    font-family: "arcade1";
    src: url("../fonts/vp_pixel.otf") format("truetype");
}

@font-face{
    font-family: "arcade2";
    src: url("../fonts/arcade.TTF") format("truetype");
}

@font-face{
    font-family: "google";
    src: url("../fonts/google_font_normal.ttf") format("truetype");
}

@font-face{
    font-family: "mons_reg";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face{
    font-family: "mons_med";
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face{
    font-family: "mons_semibold";
    src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
}


/* END OF FONT INITIALIZATION */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background:#f9fbfc ;
    height: 100%;
}

/* SIDEBAR */

.sidebar{
    position: fixed;
    width: 225px;
    height: 100%;
    background: black;
    padding: 30px 0;
    float: left;
}

.sidebar h2{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
    font-family: "arcade2";
    font-size: 25px;
}
.sidebar ul li{
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    border-top: 1px solid rgba(225, 225, 225, 0.07); */
    padding: 17px;
    font-family: "arcade1";
    font-size: 18px;
}
.sidebar ul li a{
    color: white;
    display: block;
}
.sidebar ul li a .fas{
    width: 25px;
}

.sidebar ul li:hover a{
    color: #fff;
}
.sidebar ul li:hover{
    color: #594f8d;
}

/* Content */

.content{
    width: 100%;
    margin-left: 200px;
    padding: 0;
}
.header, .content{
    background: #fff;
    color: #717171;

}
.header{
    padding-left: 25px;
}
.info{
    padding: 35px;
}

/* CAROUSEL */

.web_title{
    font-size: 125px;
	padding: 8px 12px;
	position: absolute;
    top: 0;
    color: white;
    margin-left: 450px;
    margin-top: 350px;
    text-align: center;
    font-family: "arcade2";
}

.web_subtitle{
    font-size: 55px;
	padding: 8px 12px;
	position: absolute;
    top: 0;
    color: white;
    margin-left: 620px;
    margin-top: 530px;
    text-align: center;
    font-family: "arcade1";
}

.carousel-container{
	position: relative;
	float: left;
	margin: auto;
	height: 1080px;
	overflow: hidden;
    width: 100%;
}

.image_carousel{
    height: auto;
    width: 2000px;
    max-height: 100%;
    min-height: 100%;
    margin: 0 auto;
    filter: brightness(40%);
}

/* PRODUCT */

.titleproduct, .product{
    width: 100%;
    padding-right: 5%;
    text-align: center;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.title{
    font-family: "arcade1";
    padding: 30px;
    padding-left: -30px;
    font-size: 50px;
}

.itemproduct{
    width: 21%; 
    float: left; 
    margin: 1%;
    padding: 10px;
}

.imgitemproduct{
    width:90%;
    cursor: pointer;
}

.product_detail{

}

.w3-card{
    height: 500px;
    /* box-shadow: none; */
}

.product_detail_title{
    font-family: "google";
    font-size: 25px;
    padding: 10px;
    font-weight: bold;
}

/* LOGIN */
.account-page{
    padding: 50px;
    margin-left: 11%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10%;
    min-width: 800px;
    min-width: 800px;
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 40px 0 rgba(0,0,0,0.5);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
    
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 100px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px soild #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
#LoginForm{
    left: 0px;
}
#RegForm{
    left: -300px;
}
form a{
    font-size: 12px;
}
#Indicator{
    width: 100px;
    height: 3px;
    border: none;
    background: #e1755e;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}
.btn{
    padding: 5px;
    background: #e1755e;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.forgotpass{
    float: left; padding: 10px; color: blue;
}
.cboxcontainer{
    float: left; width: 100%;
}
.cbox{
    width: 12px; float: left;
}
.cboxlabel{
    font-size: 12px; float: left; margin: 16.5px;
}



/* PRODUCT DETAIL */
.single-product{
    margin-top: 80px;

}
.single-product .col-2 img{
    padding: 0;
    
}
.single-product .col-2{
    padding: 20px;
    
}
.single-product h4{
    margin: 20px;
    font-size: 22px;
    font-weight: bold;

}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid ;
}
input:focus{
    outline: none;
}
.single-product{
    margin-left: 250px;
}
.imgitemproduct{
    
}
/* color palete #f9fbfc #203961, #a2cdb8, #e1755e, #5d554b */